.about-flyer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--warm-beige);
  text-align: center;
}

.about-flyer-content {
  /* max-width: 1000px; */
  width: 100%;
}

.about-flyer-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: var(--academic-maroon);
  font-weight: bold;
}

.about-flyer-image {
  width: 100%;
  /* max-width: 800px; */
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid var(--pale-clay);
}

.about-flyer-image:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}
